.my-navbar {
  background-color: #1e94d2;
  padding: 10px 0;
}

.my-navbar-menu {
  background-color: #3a3633;
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 210;
  z-index: 9998;
  list-style: none;
  transition: width 2s;
}

.my-navbar-menuitem {
  padding: 15px;
}

.my-navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.my-navbar-menuitem a:hover {
  color: #fff;
}

.my-navbar-toggle {
  color: #fff;
}

.my-navbar-usuario {
  color: #fff;
  border-bottom: 1px solid #525151;
  margin-bottom: 15px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.my-navbar-menuitem.ativo {
  background-color: #494541;
}


