<nav class="my-navbar">
  <div class="my-container">
    <div class="grid">
      <div class="col-12">
        <a href="javascript:;" class="my-navbar-toggle" (click)="exibindoMenu = !exibindoMenu">
          <i class="pi pi-bars"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="my-navbar-menu" [hidden]="!exibindoMenu">
    <li class="my-navbar-usuario">Fulanno de Tal</li>
    <li class="my-navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos">Lançamentos</a></li>
    <li class="my-navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>
    <li class="my-navbar-menuitem"><a routerLink="#">Log out</a></li>
  </ul>
</nav>
