<div class="my-container">
  <!--<div class="grid">-->
  <div class="col-12">
    <h1>Lançamentos</h1>
  </div>

  <form class="grid" autocomplete="off" (ngSubmit)="pesquisar()">

  <div class="col-12 p-fluid">
    <label>Descrição</label>
    <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
  </div>

  <div class="col-12">
    <label style="display: block">Vencimento</label>
    <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '120px' }" name="vencimentoInicio"
      [(ngModel)]="filtro.dataVencimentoInicio">
    </p-calendar>

    <label class="my-margin">até</label>
    <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '120px' }" name="vencimentoFim"
      [(ngModel)]="filtro.dataVencimentoFim">
    </p-calendar>
  </div>

  <div class="col-12">
    <button pButton type="submit" label="Pesquisar"></button>
  </div>
  </form>
  <!--</div>-->

  <div class="grid">
    <div class="col-12">
      <p-table [value]="lancamentos" [paginator]="true"
      [rows]="filtro.itensPorPagina"
      responsiveLayout="stack"
      [lazy]="true"
      [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)"
      #tabela
      styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Pagamento</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th style="width: 150px;">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamentos>
          <tr>
            <td>{{lancamentos.pessoa}}</td>
            <td>{{lancamentos.descricao}}</td>
            <td>{{lancamentos.tipo}}</td>
            <td class="my-col-data">{{lancamentos.dataPagamento | date: 'dd/MM/y'}}</td>
            <td class="my-col-data">{{lancamentos.dataVencimento | date: 'dd/MM/y'}}</td>
            <td class="my-col-valor">
              <span [style.color]="lancamentos.tipo === 'DESPESA' ? 'red' : 'blue'">
                {{lancamentos.valor | currency: 'BRL'}}
              </span>
            </td>
            <td class="my-col-acoes">
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                <button pButton icon="pi pi-trash" pTooltip="Excluir" (click)="excluir(lancamentos)" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>

  <div class="col-12">
    <a pButton label="Novo Lançamento"></a>
  </div>
</div>
