<div class="my-container">
  <form #lancamentoForm="ngForm" autocomplete="off">
    <div class="grid">
      <div class="col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" name="vencimento" ngModel #vencimento="ngModel" [required]="true"></p-calendar>

        <!--<app-message [control]="vencimento.control" error="required" text="Informe uma data de vencimento"></app-message>-->
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>{{ tipo.value == 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">

        <!--<app-message [control]="descricao.control" error="required" text="Informe uma descrição"></app-message>
        <app-message
          [control]="descricao.control"
          error="minlength"
          text=" Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>-->
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Valor <i class="pi pi-dollar" style="font-size: 0.9rem"></i></label>
        <input
          pInputText
          [required]="true"
          type="text"
          placeholder="0,00"
          name="valor"
          currencyMask
          [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}"
          ngModel
          #valor="ngModel"
        />

        <!--<app-message [control]="valor.control" error="required" text="Informe um valor"></app-message>-->

      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" [required]="true" name="categoria" ngModel #categoria="ngModel"></p-dropdown>

        <!--<app-message [control]="categoria.control" error="required" text="Informe uma categoria"></app-message>-->
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" name="pessoa" [filter]="true" [required]="true" ngModel #pessoa="ngModel" placeholder="Selecione"></p-dropdown>

        <!--<app-message [control]="pessoa.control" error="required" text="Informe uma pessoa"></app-message>-->
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>


      <div class="col-12" style="display: flex; align-items: center;">
        <button pButton type="submit" label="Salvar" [disabled]="lancamentoForm.invalid"></button>
        <button class="p-button-info" pButton type="button" label="Novo"></button>
        <a href="javascript:;">Voltar para pesquisa</a>
      </div>
    </div>
  </form>
</div>
