<div class="my-container">
  <form>
    <div class="grid">
      <div class="col-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>

      <div class="col-10 p-fluid">
        <label>Logradouro</label>
        <input pInputText type="text">
      </div>

      <div class="col-2 p-fluid">
        <label>Número</label>
        <input pInputText type="text">
      </div>

      <div class="col-4 p-fluid">
        <label>Complemento</label>
        <input pInputText type="text">
      </div>

      <div class="col-4 p-fluid">
        <label>Bairro</label>
        <input pInputText type="text">
      </div>

      <div class="col-4 p-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999"></p-inputMask>
      </div>

      <div class="col-6 p-fluid">
        <label>Cidade</label>
        <input pInputText type="text" />
      </div>

      <div class="col-6 p-fluid">
        <label>Estado</label>
        <input pInputText type="text" />
      </div>

      <div class="col-12" style="display: flex; align-items: center;">
        <button pButton type="submit" label="Salvar"></button>
        <button class="p-button-info" pButton type="button" label="Novo"></button>
        <a href="javascript:;">Voltar para pesquisa</a>
      </div>
    </div>
  </form>
</div>
